body {
    font-family: "medium-content-sans-serif-font", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1em;
}

header {
    border-bottom: 1px dashed #888;
    /*background: #999;*/
}

header a {
    color: #111111;
    text-decoration: none;
}

nav.post_nav {
    float: right;
}

nav.post_nav a+a {
    padding-left: 0.3em;
    border-left: 1px solid #000;
}

footer{
    margin:3em 0;
    padding:1em 0;
    border-top: 1px dashed #888;
}

time{
    opacity: 0.6;
    font-size: smaller;
}

div.tags{
    opacity: 0.7;
}

ul.tags{
    display: inline;
    padding: 0;
}

ul.tags li{
    display: inline;
    list-style: none;
}

h1.title a{
    font-size: 1.5em;
    text-decoration: none;
    color: #222;
}

h1.title a:visited{
 color: #222;
}