$border-color: #dbdfe1;

@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");

html {
  font-family: "Zilla Slab", serif;
  font-size: 137.5%;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #3a4149;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  word-wrap: break-word;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

main {
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: #215182;
}

header,
footer {
  font-size: 16px;
  a {
    color: inherit;
  }
}

header a {
  font-size: 2em;
  font-weight: normal;
  margin: 0.2em 0;
  display: block;
}

header {
  border-bottom: 1px solid $border-color;
  padding: 0 1rem;
}

h1.title {
  margin-bottom: 1rem;
  font-size: 1.5em;
  // font-weight: normal;
}

h3 {
  font-size: 1.2em;
  font-weight: normal;
}

h2,
h3,
h4 {
  margin-bottom: 0.25em;
  font-weight: normal;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
}

footer {
  margin-top: 1rem;
  border-top: 1px solid $border-color;
  padding: 1rem;
  div {
    padding: 0.25rem;
  }
}

.center {
  text-align: center;
}

p {
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.time {
  font-size: 0.9rem;
  color: #777;
}

.posts {
  a {
    color: inherit;
  }
  li {
    padding: 0.25rem 0;
  }
}

.hl {
  background: #eee;
  overflow: auto;
  padding: 0 0.3rem;
  border-radius: 5%;
  font-size: 0.85em;
}

.content {
  margin-top: 1rem;
  line-height: 1.4rem;
}

.t1 {
  padding-top: 1rem;
}

.l1 {
  padding-left: 1rem;
}

.small {
  font-size: 65%;
}

.right {
  float: right;
}

.btn {
  background: #ccc;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5%;
  font-weight: 300;
}

.btn:hover {
  background: #bbb;
}

.btn:hover {
  box-shadow: 0px 0px 0 #666;
  top: 5px;
  left: 5px;
}

ul {
  margin-top: 0;
}

.block {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;

  ul {
    margin-top: 0.3rem;
    list-style: square outside none;
    li {
      padding: 0.2rem 0;
    }
  }
}

input {
  outline: none;
  padding: 3px 0px 3px 3px;
  border: 1px solid #dddddd;
  color: inherit;
}

input:focus {
  box-shadow: 0 0 5px rgb(0, 0, 0);
  padding: 3px 0px 3px 3px;
  border: 1px solid rgb(0, 0, 0);
}

pre.ascii {
  line-height: 1rem;
}

article {
  margin-bottom: 2em;
}

:not(pre) > code {
  padding: 0.3em;
  white-space: normal;
  background: #f5f2f0;
  hyphens: none;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}

pre > code {
  font-family: monospace !important;
  display: block;
}

pre,
code {
  max-width: 100%;
  overflow: auto;
}

ol.pad li {
  padding: 1em 0;
}

.pl-1 {
  padding-left: 1em;
}

.pl-2 {
  padding-left: 2em;
}

.pt-1 {
  padding-top: 1em;
}

.company {
  padding: 1em;
  margin: 1em;
  border: 1px solid #ccc;
  display: flex;
  a {
    min-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    height: 30px;
    display: block;
  }
  img.larger {
    height: 40px;
  }
}

pre {
  line-height: 1em !important;
}

pre.normal {
  white-space: normal !important;
}

pre.code-content,
pre.code-content[class*="language-"] {
  background: #ddd;
  margin-top: -1em;
  padding-left: 2em;
}

pre .command-line-prompt {
  border-right: none;
  margin-right: 0;
}

pre.code-content.mini {
  padding: 0 0 0 1em;
}
