body {
    font-family: "medium-content-sans-serif-font", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

header a{
    color: #111111;
    text-decoration: none;
}